<!-- Footer -->
	<footer class="footer text-center margin">
	  <div class="container">
		<div class="row">
		  <div class="col-md-4 mb-5 mb-lg-0">
			<h4 class="text-uppercase mb-4 text-warning">Location</h4>
			<p class="lead mb-0">Sheikhupura, Punjab
			  <br></p>
		  </div>
		  <div class="col-md-4 mb-5 mb-lg-0">
			<h4 class="text-uppercase mb-4 text-warning">Get In Touch</h4>
			<ul class="list-inline mb-0">

			  <li class="list-inline-item">
				<a class="btn btn-outline-light btn-social text-center rounded-circle" href="mailto:alisherafzal87@gmail.com">
				  <i class="fab fa-fw fa-google-plus-g"></i>
				</a>
			  </li>
			  <li class="list-inline-item">
				<a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://github.com/BSSE23007">
					<i class="fab fa-fw fa-github" aria-hidden="true"></i>
				</a>
			  </li>
			  <li class="list-inline-item">
				<a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.linkedin.com/in/ali-sher-afzal-457902282/">
				  <i class="fab fa-fw fa-linkedin-in"></i>
				</a>
			  </li>
			  <li class="list-inline-item">
				<a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://web.facebook.com/profile.php?id=100022445570071">
				  <i class="fab fa-fw fa-facebook-f"></i>
				</a>
			  </li>
			</ul>
		  </div>
		  <div class="col-md-4">
			<h4 class="text-uppercase mb-4 text-warning">About This Website</h4>
			<p class="lead mb-0">This is a Django-based Personal Portfolio Website created by
				<b>Ali Sher Afzal</b>.</p>
		  </div>
		</div>
	  </div>
	</footer>