{% extends 'mypf/base.html' %}

{% block content %}

    <!--Header-->
	<header class="masthead text-white text-center">
	  <div class="container">
		<img class="img-fluid mb-5 d-block mx-auto" src="static/mypf/img/profile.png" alt="">
		<h1 style="opacity: 1; transform: none;">
		  I'm
		  <span class="text-warning">Ali Sher Afzal</span>
		</h1>
		<h3>Software Developer</h3>
		<hr>
		<div style="max-height: 20vh; overflow: hidden;">
		  <h4 style="transform: none;" class="lead">An aspiring and passionate Software developer and programmer with positive mindset</h4>
		  <h4 style="transform: none;" class="lead">who is always strive for unique & innovative ideas.</h4>
		</div>
	  </div>
	</header>
<!----------------------------------------------------------------------------------------------------->

	<!--ABOUT ME-->
	<section class="text-white mb-0 margin" id="about">
		<div class="container">
		  <h2 class="text-center text-uppercase text-white text-warning">About Me</h2>
		  <hr class="star-light mb-5">
		  <div class="row">
            <div class="col-md-8 offset-md-2 shadow p-3">
             <ul>
			  <li>
				<div class="lead">
				  <p>Heyy! I'm Ali Sher Afzal, an enthusiastic & passionate software developer. I'm currently persuaing Bachelor's 
					degree in Software Engineering at ITU, Lahore.</p>
				</div>  
			  </li> 
			  <li>
				<div class="lead">
				  <p>I'm interested in development and designing. I love to develop and design softwares, build algorithms, and 
					solve critical problems.</p>
				</div>  
			  </li> 
			  <li>
				<div class="lead">
				  <p>I'm currently working on my skills. I have some experienced in competitive coding
					as I did some coding related problems.</p>
				</div>  
			  </li> 
			  <li>
				<div class="lead">
				  <p>I'm good team player. I've positive mindset and I'm always eager to learn new
					stuffs especially tech related.</p>
				</div>  
			  </li> 
			  <li>
				<div class="lead">
				  <p>When I'm not on a computer, I enjoy spending quality time with friends & family  , watching movies & web series
					and sometimes I love to walk alone.</p>
				</div>  
			  </li> 
			 </ul>
			</div>
		  </div>
		  <div class="text-center mt-4">
			<a class="btn btn-outline-info" href="/static/mypf/files/Ali_Sher_Afzal_CV.pdf" download>
			  <i class="fas fa-download mr-2"></i>
			  Download Resume 
			</a>
		  </div>
		</div>
	  </section>	
<!----------------------------------------------------------------------------------------------------->

	<!--Technical SKILLS-->
	<section class="text-white mb-0 margin" id="about">
		<div class="container">
		  <h2 class="text-center text-uppercase text-white text-warning">Technical Skills</h2>
		  <hr class="star-light mb-5">
		  <div class="row">

			<div class="col-md-8 offset-md-2 shadow p-3">
			 <div class="row">
			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/cpp.png" alt="CPP" height="50px" width="50px"/>  
				<p class="text-center">CPP</p>
			  </div>
			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/python.png" alt="Python" height="50px" width="50px"/>
				<p class="text-center">Python</p>  
			  </div>
			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/django.svg" alt="Django" height="50px" width="50px"/>
				<p class="text-center">Django</p>  
			  </div>
			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/github.jpg" alt="Bootstrap" height="50px" width="50px"/> 
				<p class="text-center">GitHub</p> 
			  </div>
			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/Overleaf.png" alt="Cp" height="50px" width="50px"/>  
				<p class="text-center">OverLeaf</p>
			  </div>
			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/Office.jpg" alt="Cp" height="50px" width="50px"/>  
				<p class="text-center">Microsoft Office </p>
			  </div>

			 </div>	
			</div>

		  </div>
		</div>
	  </section>
<!------------------------------------------------------------------------------------------------------->

	<!--Soft SKILLS-->
	<section class="text-white mb-0 margin" id="about">
		<div class="container">
		  <h2 class="text-center text-uppercase text-white text-warning">Soft Skills</h2>
		  <hr class="star-light mb-5">
		  <div class="row">

			<div class="col-md-8 offset-md-2 shadow p-3">
			 <div class="row">

			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/criticalthinker.jpg" alt="Cp" height="50px" width="50px"/>  
				<p class="text-center">Critical Thinking</p>
			  </div>
			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/problemsolving.png" alt="CPP" height="50px" width="50px"/>  
				<p class="text-center">Problem Solving</p>
			  </div>
			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/projectmanagement.png" alt="Python" height="50px" width="50px"/>
				<p class="text-center">Project Management</p>  
			  </div>
			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/timemanagement.png" alt="Django" height="50px" width="50px"/>
				<p class="text-center">Time Management</p>  
			  </div>
			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/teamcollaboration.png" alt="Bootstrap" height="50px" width="50px"/> 
				<p class="text-center">Team Collaboration</p> 
			  </div>
			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/communication.png" alt="Bootstrap" height="50px" width="50px"/> 
				<p class="text-center">Communication</p> 
			  </div>

			 </div>	
			</div>

		  </div>
		</div>
	  </section>
<!------------------------------------------------------------------------------------------------------->

	<!--PROJECTS-->
	<section class="portfolio margin" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-white mb-0 text-warning">Projects</h2>
            <hr class="star-light mb-5 text-white">
			<div class="row">
			  <div class="col-sm-6">
				<div class="card bg-dark text-white shadow p-2">
				  <div class="card-body">
					<h5 class="card-title text-warning">Sugar Mill Management system</h5>
					<hr>
					<p class="card-text">The Sugar Mill Management System is a comprehensive solution designed to optimize
						sugar mill operations. It manages employee records, inventory, production processes, sales transactions,
						and financial tracking. Detailed reports and analytics support strategic decision-making, enhancing
						overall productivity and efficiency.</p>
					<a href="https://github.com/ITULahore-OOP/2024-spring-se102la-week10-BSSE23007" class="btn btn-outline-info">Github Link</a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card bg-dark text-white shadow p-2">
				  <div class="card-body">
					<h5 class="card-title text-warning">Mall Management System</h5>
					<hr>
					<p class="card-text">The Mall Management System efficiently oversees shopping mall operations.
						It includes modules for HRMS, parking management, cinema operations, play area administration,
						shop management, and finance. This system ensures streamlined operations, optimal resource
						utilization, and comprehensive financial oversight..</p>
					<a href="https://github.com/ITULahore-OOP/2024-spring-se102ta-project-se102a-d/tree/main" class="btn btn-outline-info">Github Link</a>
				  </div>
				</div>
			  </div>
			</div>
			<div class="margin"></div>
			<div class="row">
			  <div class="col-sm-6">
				<div class="card bg-dark text-white shadow p-2">
				  <div class="card-body">
					<h5 class="card-title text-warning">ERP system</h5>
					<hr>
					<p class="card-text">The ERP System is an integrated solution for streamlining various business
						processes. It encompasses finance and accounting, human resources, supply chain and logistics,
						and customer relationship management. By unifying these functions, the ERP System enhances 
						operational efficiency, departmental coordination, and overall business performance.t.</p>
					<a href="https://github.com/ITULahore-CFP/2023-fall-se101a-projects-bsse-2023-group-d-section-a/tree/main" class="btn btn-outline-info">Github Link</a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card bg-dark text-white shadow p-2">
				  <div class="card-body">
					<h5 class="card-title text-warning">Digital Resume using Streamlit</h5>
					<hr>
					<p class="card-text">I have developed a digital resume utilizing the Streamlit module in Python.
						This digital resume comprehensively encapsulates all aspects of my professional profile, including
						my educational background, skills, projects, technical and computer skills, soft skills, professional
						experience, and contact information. It offers an interactive and user-friendly platform to effectively 
						present my qualifications and career achievements..</p>
					<a href="https://github.com/BSSE23007/YoungDevInterns_Python_Tasks_Digital_Resume" class="btn btn-outline-info">Github Link</a>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</section>

{% endblock %}